.employees-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content: space-between;
    justify-items: space-between;
    background-color: #f8f8f8;
}
/* 
.card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-content: center;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
   background-color: #f8f8f8;
} */

/* .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content: space-between;
    justify-items: space-between;
    background-color: #f8f8f8;
} */

.employees-sublist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-items: space-between;
}

.pagination-row {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 1px solid #e8e8e8;
    background-color: white;
}
